<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="card-group">



                        <div class="card p-10">
                            <div class="card-body">



                                <div style="width:44%" class="col-2">
                                    <div class="card-body text-center">
                                        <div>

                                            <a (click)="verTema('0')" class="badge badge-primary" style="color:#FFFF;">Antisoborno</a>
                                            <hr>
                                            <a (click)="verTema('1')" class="badge badge-primary" style="color:#FFFF;">Empresa Segura</a>
                                            <hr>
                                            <a (click)="verTema('2')" class="badge badge-primary" style="color:#FFFF;">Gestión Ambiental</a>
                                            <hr>
                                            <a (click)="verTema('3')" class="badge badge-primary" style="color:#FFFF;">Gestión Calidad</a>
                                            <hr>
                                            <a (click)="verTema('4')" class="badge badge-primary" style="color:#FFFF;">Salud Trabajo</a>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                        <div class="col-10">
                            <div>
                                <router-outlet></router-outlet>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </main>
</div>