<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="card-group">



                        <div class="card p-10">
                            <div class="card-body">



                                <div style="width:44%" class="col-2">
                                    <div class="card-body text-center">
                                        <div class="puntero" *ngFor="let item of objCapacitaciones">

                                            <a (click)="verTema('0')" class="badge badge-primary" style="color:#FFFF;">{{ item.nombre }}</a>
                                            <hr>
                                            <!-- <a (click)="verTema('1')" class="badge badge-primary" style="color:#FFFF;">{{ item.nombre }}</a>
                                            <hr>
                                            <a (click)="verTema('2')" class="badge badge-primary" style="color:#FFFF;">Gestión Ambiental</a>
                                            <hr>
                                            <a (click)="verTema('3')" class="badge badge-primary" style="color:#FFFF;">Gestión Calidad</a>
                                            <hr>
                                            <a (click)="verTema('4')" class="badge badge-primary" style="color:#FFFF;">Salud Trabajo</a> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-10">
                            <div>
                                <div class="card-columns m-5 animated fadeIn">
                                    <div (click)="verTema( item.id )" *ngFor="let item of objCapacitaciones" class="card puntero">
                                        <img [src]="item.imagen" class="card-img-top" alt="Card image cap">
                                        <div class="card-body">
                                            <!-- <span class="badge badge-pill badge-primary">
                                                        {{ item.nombre }}
                                                    </span> -->
                                            <h5 class="card-title">{{ item.nombre }}</h5>
                                            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </main>
</div>