<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item puntero">
                    <a class="nav-link" (click)="irCapacitaciones(1)">Capacitación <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item puntero">
                    <a class="nav-link" (click)="irCapacitaciones(1)">Conferencias</a>
                </li>
                <li class="nav-item puntero">
                    <a class="nav-link" (click)="irCapacitaciones(1)">Foro</a>
                </li>
    
            </ul>
            
        </div>
    </nav>