<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" [formGroup]="forma" (ngSubmit)="guardar()">

                <h1><small>Registro de respuestas</small></h1>
                <hr>

                <!-- <span class="text-danger">El correo es obligatorio</span> -->
                <div class="wrap-input100 m-b-16">
                    <input class="input100 form-control" type="text" formControlName="idIso" name="idIso" value='1'>
                    <span class="focus-input100"></span>
                </div>

                <!-- <span class="text-danger">El nombre es obligatorio</span> -->
                <div class="wrap-input100 m-b-16">
                    <input class="input100 form-control" type="text" formControlName="idItem" name="idItem" value="3">

                    <span class="focus-input100"></span>
                </div>

                <div class="column small-12 large-2">
                    <label class="sbw_light">Preguntas:</label><br />
                    <select name="preguntas" formControlName="idPrg" name="idPrg" class="selectpicker btn btn-secondary btn-sm dropdown-toggle">
                        <option *ngFor="let prg of listaPreguntas; let i = index" [value]="prg.id">
                            {{prg.pregunta1}}</option>
                    </select>
                </div>

                <!-- <span class="text-danger">El nombre es obligatorio</span> -->
                <div class="wrap-input100 m-b-16">

                    <div formArrayName="respuestas">
                        <input *ngFor="let respuesta of forma.controls['respuestas'].controls; let i = index" [formControlName]="i" type="text" class="form-control">

                    </div>

                    <button (click)="agregarRespuesta()" type="button" class="btn btn-primary">Nuevo</button>
                    <!-- <div class="col-md-8" formArrayName="respuestas">

                        <input *ngFor="let respuesta of forma.controls['respuestas'].controls; let i = index" [formControlName]="i" type="text" class="form-control">

                    </div>

                    <button (click)="agregarRespuesta()" type="button" class="btn btn-primary">Nuevo</button>
                 -->



                </div>

                <!-- <div class="form-group row">
                    <label class="col-2 col-form-label">Respuesta</label>
                    <div class="col-md-8" formArrayName="respuestas">

                        <input *ngFor="let respuesta of forma.controls['respuestas'].controls; let i = index" [formControlName]="i" type="text" class="form-control">

                    </div>

                    <button (click)="agregarRespuesta()" type="button" class="btn btn-primary">Nuevo</button>
                </div> -->



                <div class="container-login100-form-btn m-t-17 form-group">
                    <button class="login100-form-btn" type="submit">
                        Guardar
                    </button>
                </div>


            </form>
        </div>
    </div>
</div>

<div class="form-group row">
    <label class="col-2 col-form-label">Respuestas</label>
    <div class="col-md-8" formArrayName="respuestas">

        <input *ngFor="let respuesta of forma.controls['respuestas'].controls; let i = index" [formControlName]="i" type="text" class="form-control">

    </div>

    <button (click)="agregarRespuesta()" type="button" class="btn btn-primary">Nuevo</button>
</div>